<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
    <h1>Student Registration Form</h1>
    <form th:action="@{/result}" th:object="${theStudent}" method="POST">
        First Name : <input type="text" th:field="${theStudent.firstName}" placeholder="Enter your first name" />
        <br><br>

        Last Name : <input type="text" th:field="${theStudent.lastName}" placeholder="Enter your last name" />
        <br><br>

        Country :
        <select th:field="${theStudent.country}">
            <option th:each="tmpCountry : ${countries}" th:value="${tmpCountry}" th:text="${tmpCountry}" />
        </select>
        <br><br>

        Choose your favourite programming language:
        <input type="radio" th:each="tmpLanguage : ${languages}" th:field="${theStudent.favouriteLanguage}" th:value="${tmpLanguage}" th:text="${tmpLanguage}" />
        <br><br>

        Choose your favourite operating systems:
        <input type="checkbox" th:each="tmpOS : ${OS}" th:field="*{favouriteOS}" th:value="${tmpOS}" th:text="${tmpOS}" />
        <br><br>

        <input type="submit" value="Submit" />
    </form>

</body>
</html>